body {
font-family: Arial, Helvetica, sans-serif;
width: 960px;
font-size: 18px;
background-color: #777;
}

header {
    display: block;
    padding: 30px;
    width: 895px;
    border: 1px solid black;
    background-color: #ebebeb;
}

nav {
    background-color: white;
    text-align: center;
    border: 1px solid black;
    width: 895px;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #777;
}

article {
    float: left;
    padding: 5px;
    border: 1px solid black;
    background-color: #ebebeb;
    width: 50%;
    box-sizing: border-box;
    float:left;
}

section {
    background-color: grey;
    padding: 2px;
}

li {
    font-size:13px;
}

h2, h3, h4 {
    background-color: white
}

aside {
    float: right;
    background-color: #ebebeb;
    border: 1px solid black;
    width: 50%;
    padding: 15px;
    float:right;
    box-sizing: border-box;
}

footer {
    clear: both;
    position: relative;
    border: 1px solid black;
    background-color: #ebebeb;
    padding: 5px;
}